 @import "tailwindcss";
  @keyframes slide-in-emoji {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-emoji {
  animation: slide-in-emoji 1s ease-out forwards;
}

.fade-in-delay {
  animation: fade-in-delay 0.8s ease-out 0.8s forwards;
  opacity: 0;
}

.fade-in-sub {
  animation: fade-in-delay 0.8s ease-out 1.4s forwards;
  opacity: 0;
}
